<div class="app-container">
  <header>
    <div class="container">
      <div class="content header-content">
        <h1>Shopping Code</h1>
        <div>
          <a hoverAtribute href="/cart"
            ><mat-icon hoverAtribute color="primary">shopping_cart</mat-icon></a
          >
          <a hoverAtribute shref="/"
            ><mat-icon hoverAtribute color="primary">home</mat-icon></a
          >
        </div>
      </div>
    </div>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="container">
      <div class="content footer-content">
        <strong>Tiago Sant'Ana</strong>
        <span>Angular</span>
        <span>Let's Code</span>
      </div>
    </div>
  </footer>
</div>
